.cb-report-pushthrough {
    &__inner {
        background-color: var(--col-grey-400);
        color: var(--col-black);
        padding: 2rem;
        border-radius: 1rem;
    }
    &__cover {
        border-radius: 0.5rem;
        box-shadow: var(--shadow-2);
        max-width: min(100%,240px);
        display: block;
        margin-inline: auto;
    }
    &__content {
        padding-bottom: 1rem;
        font-size: var(--fs-600);
    }
    &__cta {
        background-color: var(--col-white);
        border-radius: 0.5rem;
        padding: 1rem 1rem 1rem 4rem;

        p:first-child {
            font-weight: var(--fw-semibold);
            color: var(--col-green-dark-1000);
        }

        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../img/chevron-right.svg);
            top: 1rem;
            left: 0;
            width: 45px;
            height: 79px;
        }
    }
    &__button {
        display: flex;
        justify-content: flex-end;
    }
}