.cb-card-grid {
    &__col {
        display: flex;
        align-items: stretch;
    }

    &__card {
        width: 100%;
        background-color: var(--col-grey-400);
        border-radius: 1rem;
        padding: 2rem;
        text-align: center;
    }

    &__icon {
        display: block;
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-inline: auto;
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 1rem;
        font-size: var(--fs-700);
        font-weight: var(--fw-medium);
    }

    &__content {
        > *:last-child {
            margin-bottom: 0;
        }
    }
}
