.cb-card-grid {
    &__col {
        display: flex;
        align-items: stretch;
    }

    &__card {
        width: 100%;
        background-color: var(--col-grey-400);
        border-radius: 1rem;
        padding: 2rem;
    }

    &__card--hover {
        box-shadow: var(--shadow-1);
        transition: box-shadow var(--transition), background-color var(--transition);

        &:hover {
            box-shadow: var(--shadow-2);
            background-color: var(--col-green-teal-400);
        }
    }

    &__icon {
        width: 80px;
        height: 80px;
        object-fit: contain;
        flex-shrink: 0;
    }

    &__title {
        font-size: var(--fs-700);
        font-weight: var(--fw-semibold);
        margin-bottom: 0;
        color: var(--col-green-dark-1000);
    }

    &__content {
        > *:last-child {
            margin-bottom: 0;
        }
    }
}
