.cb-title-scroll-bullets {
  &__title-inner {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: var(--fs-800);
    font-weight: var(--fw-semibold);
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__item {
    padding: 1.25rem 1.5rem;
    background-color: var(--col-white);
    color: var(--col-black);
    border-radius: 0.5rem;
    border-left: 4px solid var(--col-orange-1000);
    font-size: var(--fs-500);
    line-height: 1.5;
    box-shadow: var(--shadow-1);
    will-change: opacity, transform;
  }
}
