.cb-text-pullout {
  overflow-x: clip;

  &__pullout {
    position: relative;
    text-decoration: none;
    padding: 2rem;
    z-index: 0;

    ul {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--col-green-teal-200);
      box-shadow: var(--shadow-1);
      border-radius: 1rem;
      z-index: -1;
    }
  }

  &__content,
  &__pullout-title {
    position: relative;
    z-index: 1;
  }

  &--full-bleed {
    --cb-tp-cw: 100vw;
    --cb-tp-boundary-fr: 0.5;

    @media (min-width: 576px) {
      --cb-tp-cw: calc(540px - 1.5rem);
    }

    @media (min-width: 768px) {
      --cb-tp-cw: calc(720px - 1.5rem);
    }

    @media (min-width: 992px) {
      --cb-tp-cw: calc(960px - 1.5rem);
    }

    @media (min-width: 1200px) {
      --cb-tp-cw: calc(1140px - 1.5rem);
    }

    @media (min-width: 1400px) {
      --cb-tp-cw: calc(1320px - 1.5rem);
    }

    .cb-text-pullout__pullout-col {
      position: relative;
      z-index: 0;
    }

    .cb-text-pullout__pullout {
      display: block;
      margin-top: 2rem;
      width: 100%;
      padding-inline-start: clamp(2rem, 4vw, 4rem);
      padding-inline-end: 2rem;
    }

    @media (min-width: 992px) {
      .cb-text-pullout__pullout {
        margin-top: 0;

        &::before {
          top: 0;
          bottom: 0;
        }
      }
    }
  }

  &--full-bleed#{&}--pullout-left {
    @media (min-width: 992px) {
      .cb-text-pullout__pullout::before {
        left: calc(-1 * ((100vw - (var(--cb-tp-cw) + 1.5rem)) / 2));
        right: 0;
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
      }
    }
  }

  &--full-bleed#{&}--pullout-right {
    @media (min-width: 992px) {
      .cb-text-pullout__pullout::before {
        left: 0;
        right: calc(-1 * ((100vw - (var(--cb-tp-cw) + 1.5rem)) / 2));
        border-top-left-radius: 9999px;
        border-bottom-left-radius: 9999px;
      }
    }
  }
}
